<div class="erb_form"
  <div><h2>Add Topics </h2></div>
    <form action="/admin/new_topics/<%= @book.id %>"method="post" method="post">

      <div id="sub-but">
        <input  type="submit" value="Add topics"/>
      </div>
    </form>
  </div>
