<div class="erb_form"
  <div><h2>Edit Borrower</h2></div>

    <form action="/admin/list_borrowers/<%= @borrower.id %>"method="post">
      <input type="hidden" name="_method" value="put">

      <div class="form-el"
        <label class="form-label" for="first-name">First Name:</label>
        <input id="first-name" type="text" name="first_name" value = "<%= @borrower.first_name %>"  >
      </div>

      <div class="form-el"
        <label class="form-label" for="last-name">Last Name:</label>
        <input id="last-name" type="text" name="last_name" value = "<%= @borrower.last_name %>">
      </div>

      <div class="form-el"
        <label class="form-label" for="email">Email Address:</label>
        <input id="email" type="text" name="email"value = "<%= @borrower.email %>">
      </div>

      <div id="sub-but">
        <input  type="submit" value="Edit Borrower"/>
      </div>
    </form>
  </div>
