<div style="margin-left:200px;">

  <!-- Big Buttons -->
  <header class="" style="padding-top:50px">
    <h5><b><i class="fa fa-dashboard"></i> Admin View</b></h5>
  </header>

  <div class="erb1">
    <div class="quarter">
      <a href="/admin/new_book" class="container btn-red">
        <div class="icon"><i class="fa fa-book"></i><i class="fa fa-plus-square "></i></div>
        <div class="clear"></div>
        <h4 class="btn-txt">Add New Book</h4>
      </a>
    </div>
    <div class="quarter">
      <a href="/admin/new_user" class="container btn-blue">
        <div class="icon"><i class="fa fa-user-plus "></i></div>
        <div class="clear"></div>
        <h4 class="btn-txt">Add New Borrower</h4>
      </a>
    </div>
    <div class="quarter">
      <a href="/admin/new_loan" class="container btn-green">
        <div class="icon"><i class="fa fa-book "></i><i class="fa fa-arrow-right"></i></div>
        <div class="clear"></div>
        <h4 class="btn-txt">Lend Book</h4>
      </a>
    </div>
    <div class="quarter">
      <a href="/admin/list_loans" class="container btn-orange">
        <div class="icon"><i class="fa fa-book "></i><i class="fa fa-arrow-left"></i></div>
        <div class="clear"></div>
        <h4 class="btn-txt">Return Book</h4>
      </a>
    </div>
  </div>

</div>
