<!DOCTYPE html>
<html>
<head>
  <title>SCILL Library App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../public/style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Proza+Libre|Tenor+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Top container-->
  <div class= "top">
    <img src="../../public/images/logo.png" alt="SCILL logo" id="title">
    <span id="title-text">Welcome to the Library</span>
  </div>

  <!--navigation -->
  <nav class="sidebar"><br>
    <div>
      <a href="/" class="button"><i class="fa fa-home fa-fw"></i>  Home</a>
      <a href="#" class="button"><i class="fa fa-eye fa-fw"></i>  See all books</a>
      <a href="#" class="button"><i class="fa fa-eye fa-fw"></i>  See all topics</a>
      <a href="#" class="button"><i class="fa fa-pencil fa-fw"></i>  Edit User</a>
      <a href="#" class="button"><i class="fa fa-pencil fa-fw"></i>  Edit Book</a>
      <a href="#" class="button"><i class="fa fa-time fa-fw"></i>  Overdue Books</a>
      <a href="#" class="button"><i class="fa fa-users fa-fw"></i> User Page</a>
    </div>
  </nav>



  <!-- Main Content will be dynamic -->
  <div style="margin-left:200px;">

    <!-- Big Buttons -->
    <header class="container" style="padding-top:50px">
      <h5><b><i class="fa fa-dashboard"></i> Admin View</b></h5>
    </header>

    <div class="">
      <div class="quarter">
        <div class="container btn-red">
          <div class="icon"><i class="fa fa-book"></i><i class="fa fa-plus-square "></i></div>

          <div class="clear"></div>
          <h4 class="btn-txt">Add New Book</h4>
        </div>
      </div>
      <div class="quarter">
        <div class="container btn-blue">
          <div class="icon"><i class="fa fa-user-plus "></i></div>
          <div class="clear"></div>
          <h4 class="btn-txt">Add New Borrower</h4>
        </div>
      </div>
      <div class="quarter">
        <div class="container btn-green">
          <div class="icon"><i class="fa fa-book "></i><i class="fa fa-arrow-right"></i></div>

          <div class="clear"></div>
          <h4 class="btn-txt">Lend Book</h4>
        </div>
      </div>
      <div class="quarter">
        <div class="container btn-orange">
          <div class="icon"><i class="fa fa-book "></i><i class="fa fa-arrow-left"></i></div>
          <div class="clear"></div>
          <h4 class="btn-txt">Return Book</h4>
        </div>
      </div>
    </div>

  </div>
    <hr>
  </div>
    <!-- Footer -->
    <footer>
      <h4>About</h4>
      <p>Written by Cath</p>
      <p>CodeClan project</p>
    </footer>


  </body>
</html>
