<div class="erb_content">
  <h2>List of Books on Loan </h2>

  <ul>
    <% @loans.each do |loan|%>
    <% formatted_date = Date.parse(loan.loan_date) %>
    <li>
      <%= loan.borrower.first_name %>
       <%= loan.borrower.last_name %>
       borrowed  "<%= loan.book.title %>"
       on <%= formatted_date.strftime('%d %b %Y') %>
     </li>
    <% end %>
  </ul>
</div>
