<div class="erb_content">
  <h2>List of Books on Loan </h2>

  <ul>
    <% @loans.each do |loan|%>
    <li>
      <%= loan.borrower.first_name %>
       <%= loan.borrower.last_name %>
       borrowed  "<%= loan.book.title %>"
       on <%= loan.loan_date %>
     </li>
    <% end %>
  </ul>
</div>
