<div class ="erb_content">
  <h1>List of Borrowers </h1>

  <ul>
    <% @borrower.each do |borrower| %>
    <li><a href="/admin/list_borrowers/<%= borrower.id %>"><%= borrower.first_name %></a></li>
    <% end %>
  </ul>
</div>
