<div class="erb_form"
  <div><h2>Add New Borrower</h2></div>
    <form action="/admin/new_user" method="post">

      <div class="form-el"
        <label class="form-label" for="first-name">First Name:</label>
        <input id="first-name" type="text" name="first_name" />
      </div>

      <div class="form-el"
        <label class="form-label" for="last-name">Last Name:</label>
        <input id="last-name" type="text" name="last_name">
      </div>

      <div class="form-el"
        <label class="form-label" for="email">Email Address:</label>
        <input id="email" type="text" name="email">
      </div>

      <div id="sub-but">
        <input class="form_button3" type="submit" value="Add Borrower "/>
      </div>
    </form>
  </div>
