<div class="erb_form"
  <div><h2>Add New Book</h2></div>

    <form action="/admin/new_book" method="post">

      <div class="form-el"
        <label class="form-label" for="title">Title:</label>
        <input id="title" type="text" name="title" />
      </div>

      <div class="form-el"
        <label class="form-label" for="author">Author:</label>
        <input id="author" type="text" name="author">
      </div>

      <div class="form-el"
        <label class="form-label" for="published_date">Published in year:</label>
        <input id="published_date" type="text" name="published_date">
      </div>

      <div class="form-el"
        <label class="form-label" for="bought_date">Bought in year:</label>
        <input id="bought_date" type="text" name="bought_date">
      </div>

      <div class="form-el"
        <label class="form-label" for="price">Price:</label>
        <input id="price" type="text" name="price">
      </div>
      <div>
        <% @topics.each do |topic| %>

        <input class="erb_form_left"  type="checkbox" name="topic_id" value="<%= topic.id %>"> <%= topic.topic %><br>

        <% end %>
      </div>

      <div id="sub-but">
        <input  class ="form_button2" type="submit" value="Add Book"/>
      </div>
    </form>
  </div>
